numpyro.egg-info
__pycache__/
.ipynb_checkpoints/

# built / compiled
*.pyc
*.pyo
/build
/dist

# IDE
.idea
*~

# data files
numpyro/examples/.data
examples/.results
numpyro/.DS_Store

# test related
.pytest_cache

# data
numpyro/examples/.data

# tmp files
.*.swp

# docs
docs/build
docs/.DS_Store
