dm-haiku
flax
funsor
ipython
jax
jaxlib
jaxns==2.6.3
Jinja2
matplotlib
multipledispatch
nbsphinx>=0.8.9
numpy
optax
pillow
pylab-sdk
pyyaml
readthedocs-sphinx-search>=0.3.2
sphinx>=5
sphinx-gallery
sphinx_rtd_theme
tensorflow_probability
tqdm
