dm-haiku
flax
funsor>=0.4.1
ipython
jax>=0.2.11
jaxlib>=0.1.62
jaxns==1.1.0
multipledispatch
nbsphinx==0.8.6
numpy
optax>=0.0.6
readthedocs-sphinx-search==0.1.0
sphinx==4.0.3
sphinx-gallery
sphinx_rtd_theme==0.5.2
tensorflow_probability>=0.15.0
tqdm
