dm-haiku
flax
funsor
ipython
jax
jaxlib
jaxns==1.0.0
Jinja2<3.1
multipledispatch
nbsphinx==0.8.9
numpy
optax
pyyaml
readthedocs-sphinx-search==0.1.2
sphinx<5
sphinx-gallery==0.10.1
sphinx_rtd_theme==1.0.0
tensorflow_probability
tqdm
